# Maven build directory
target/

# Gradle build directory
build/

# Maven wrapper
.mvn/
mvnw
mvnw.cmd

# Runtime data files
*.dat

# Configuration files (if they contain sensitive or environment-specific info)
chatbot_settings.properties

# Logs, temporary files, etc.
*.log

# Whatsapp data 
whatsapp/status.txt
whatsapp/qrcode.png
whatsapp/userData/
whatsapp/.wwebjs_auth/
whatsapp/.wwebjs_cache/
whatsapp/node_modules/